a{
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 1rem;
    transition: all 0.2s ease-in;
    &:hover{
        color: #490dee;
    }
}

a.active{
    color: #c51717;
    text-decoration: underline;
}